.container{
    max-width: 1520px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}





// BUTTONS

.btn-purple{
    color: #fff;
    background-color: #9c93fc;
    text-decoration: none;
    font-weight: 500;
    font-size:16px;
    border-radius: 50px;
}