.project{
    margin-bottom: 235px;
    &__wrapper{
        display: flex;
        justify-content: space-between;
        position: relative;
        min-width: 0px;
    }
    &__text{
        width:50%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        padding:0px 210px;
    }
    &__title{
        font-weight: 900;
        font-size: 56px;
        color: #272b34;
        margin-top: 120px;
        max-width: 500px;
    }
    &__portfolio{
        width:50%;
        min-width: 0px;
    }
    &__slider-item{
        max-width: 355px;
        width:100%; 
        display: flex;
        flex-direction: column;
        margin: 0 5px;
        border-radius: 3px;
        border: 1px solid #e3e4f3;
        background-color: #fff;

        
    }
    &__slider-img{
        display: block;
        max-width: 100%;
        height: auto;
    }
    &__slider-text{
        padding: 15px 18px 18px;
    }
    &__slider-title{
        color: #272b34;
        font-size: 20px;
        font-weight: 700;
        min-height: 55px;
    }
    &__slider-subtitle{
        font-size: 16px;
        line-height: 26px;
    }
    &__slider-list{
        list-style: none;
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 16px 18px 10px;
        border-top:1px solid #e3e4f3;
        li{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding:7px 0;
            border-bottom: 1px solid #e3e4f3;
            &:last-child{
                border-bottom: none;
            }
            p{
                max-width: 110px;
                width: 100%;
                line-height: 20px;

            }
            span{
                max-width: 110px;
                width: 100%;
                font-weight: 400;
                color: #272b34;
            }
        }
    }
    &__btn{
        padding: 23px 53px;
    }
    &__slider-arrow-next{
        position: absolute;
        top: 40px;
        left: 270px;
        outline: none;
        color:#9C93FC;
    }
    &__slider-arrow-prev{
        position: absolute;
        top:40px;
        left:213px;
        outline: none;
        color:#9C93FC;

    }

}




@media (max-width:1540px){
    .project{
        &__text{
            padding: 0;
            padding-left: 20px;
        }
        &__portfolio{
            width:40%;
        }
        &__slider-arrow-next{
            position: absolute;
            top: 40px;
            left: 70px;
            outline: none;
        }
        &__slider-arrow-prev{
            position: absolute;
            top:40px;
            left:13px;
            outline: none;
        }
    }
}



@media (max-width:1200px){
    .project{
        &__wrapper{
            flex-direction: column;
        }
        &__btn{
            margin-top:20px;
            padding: 17px 53px;
        }
        &__text{
            margin-bottom: 50px;
        }
        &__portfolio{
            width:100%;
        }
    }
}


@media(max-width:767px){
    .project{
        margin-bottom: 130px;
        &__title{
            font-size: 38px;
        }
        &__wrapper{
            width:80%;
            margin: 0 auto;
        }




        &__slider-arrow-next{
            position: absolute;
            top: 80px;
            left:70px;
            outline: none;
            color:#9C93FC;
        }
        &__slider-arrow-prev{
            position: absolute;
            top:80px;
            left:20px;
            outline: none;
            color:#9C93FC;
    
        }
    }
}