.target{
    &__wrapper{
        padding: 60px;
        margin-bottom: 90px;
        box-shadow: 3px 21px 51px 17px rgba(39,43,52,.09);
        border-radius: 3px;
        background-color: #fff;
        display: flex;
        align-items: flex-start;
        width: 100%;
        justify-content: space-between;
    }
    &__title{
        position: relative;
        color: #272b34;
        font-size: 26px;
        font-weight: 700;
        padding-left: 40px;
        width:190px;
        &::before{
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
            width: 17px;
            height: 16px;
            border-radius: 50%;
            background-color: #9c93fc;
        }
    }
    &__text{
        max-width: 490px;
        width: 100%;
        font-size: 18px;
        line-height: 27px;
        a{
            margin-top:20px;
            display: block;
            color: #9c93fc;
            font-weight: 500;
        }
    }
}