// Connect font-family "SF UI Text"

@import 'fonts.css';




// Discharge default stylesheet

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


// Use fron-family
body{
    background-color: #fff;
    font-family: 'SF UI Text', sans-serif;
    position: relative;
    background: url('../assets/img/intro/bg.png') no-repeat top center;
    background-size: 70%;
    background-position: 900px 0px;
}

@import 'global';

@import 'header';

@import 'intro';

@import 'about';
